.terraform/


# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore the Terraform lock file
.terraform.lock.hcl

# Ignore the .terraform directory
.terraform/


.terraform.tfstate.lock.info
